___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: They can be integer(eg.1,2,3) or float(eg.1.0,3.14)

Strings: They consist of alphabets and sometimes numbers.(eg.'num1','String'). They are immutable.

Lists: They are written in [].The are mutable.(eg.list1=[1,3.14,'string'])

Tuples: They are written in ().The are immutable.(eg.tuple_1=(1,3.14,'string'))

Dictionaries:They are written in {}.The are mutable.(eg.dict_1={key1:1,key2:3.14,'key3:string'})

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [59]:
4*150/(8-2)+25e-2

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [6]:
4 * (6 + 5)

44

In [7]:
4 * 6 + 5

29

In [8]:
4 + 6 * 5

34

# What is the *type* of the result of the expression 3 + 1.5 + 4?  [float]

In [60]:
type(3 + 1.5 + 4)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [10]:
# Square root:
3**(1/2)

1.7320508075688772

In [4]:
# Square:
25**2

390625

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [12]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [2]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [1]:
s ='hello'
# Print out the 'o'

# Method 1:

s[4]

'o'

In [1]:
# Method 2:

s[-1]

'o'

In [45]:
# Method 3:

s[::-6]

'o'

In [46]:
# Method 4:

s[:3:-1]

'o'

# Lists

Build this list [0,0,0] two separate ways.

In [29]:
# Method 1:

list_1=[0,0,0]
print(list_1)

[0, 0, 0]

In [48]:
# Method 2:

list_2=[0,0]
list_2.append(0)
print(list_2)

[0, 0, 0]

In [2]:
#Method 3

list_3=[0]*3
print(list_3)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [32]:
list3 = [1,2,[3,4,'hello']]

list3[2][2]='goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [3]:
list4 = [5,3,4,6,1]

#Method 1:
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

In [3]:
list4 = [5,3,4,6,1]

#Method 1:
sorted(list4)
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [52]:
d = {'simple_key':'hello'}
# Grab 'hello'

d['simple_key']

'hello'

In [53]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

d['k1']['k2']

'hello'

In [54]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [57]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

#Grab hello
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

No,we can not sort a dictionary....because is stored using keys.

In [58]:
d.sort()

AttributeError: 'dict' object has no attribute 'sort'

## Tuples

What is the major difference between tuples and lists?<br><br>

Lists: They are written in [].The are mutable.(eg.list1=[1,3.14,'string'])

Tuples: They are written in ().The are immutable.(eg.tuple_1=(1,3.14,'string'))

In [73]:
list_1=[1,2,'string']
list_1[0]=3.14
print(list_1)

[3.14, 2, 'string']

In [71]:
tuple_1=(1,2,'string')
tuple_1[0]='3.14'

TypeError: 'tuple' object does not support item assignment

In [72]:
print(tuple_1)

(1, 2, 'string')

How do you create a tuple?<br><br>

Tuples: They are created by using ().

In [63]:
tuple_1=(1,2,'strings')
type(tuple_1)

tuple

In [64]:
print(tuple_1)

(1, 2, 'strings')

## Sets

What is unique about a set?<br><br>

Sets are written in {}, they are made up of unique elements.

In [67]:
x=[1,1,1,2,2,3]
x=set(x)
print(x)

{1, 2, 3}

Use a set to find the unique values of the list below:

In [74]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [75]:
# Answer before running cell
2 > 3

#not true

False

In [76]:
# Answer before running cell
3 <= 2

#not true

False

In [77]:
# Answer before running cell
3 == 2.0

#not true

False

In [78]:
# Answer before running cell
3.0 == 3

#not true 
#wrong

True

In [79]:
# Answer before running cell
4**0.5 != 2

#not true

False

Final Question: What is the boolean output of the cell block below?

In [82]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

#false

False

## Great Job on your first assessment!