In [1]:
mylist=[1,2,3]
type(mylist)

list

In [2]:
mytuple=(1,2,3)
type(mytuple)

tuple

In [4]:
mydict={'key1':1,'key2':2,'key3':3}
type(mydict)

dict

In [5]:
myset={1,2,3}
type(myset)

set

In [6]:
#floor division
7//4

1

In [7]:
#modulo
7%4

3

In [8]:
#power
7**4

2401

In [9]:
len(mydict)

3

In [10]:
s='Hello World'
s[1]

'e'

In [11]:
s[:2]

'He'

In [12]:
s[-1]

'd'

In [13]:
s[::2]

'HloWrd'

In [14]:
s*2

'Hello WorldHello World'

In [16]:
s.upper()

'HELLO WORLD'

In [17]:
s.lower()

'hello world'

In [18]:
s.split()

['Hello', 'World']

In [21]:
print("I am going for %s vaccination" %'COVID SHEILD')

I am going for COVID SHEILD vaccination

In [23]:
print("I am going for %s or %s vaccination" %('COVID SHEILD','CO-VACCINE'))

I am going for COVID SHEILD or CO-VACCINE vaccination

In [24]:
print('He said his name was %r' %'Jose')

He said his name was 'Jose'

In [27]:
print('%6.2f' %13.44)

 13.44

In [28]:
print('This is a string with  an {}'.format('insert'))0

This is a string with  an insert

In [30]:
print('{0:=<15} | {1:-^15} | {2:.>15}'.format('Left','Center','Right'))

Left=========== | ----Center----- | ..........Right

In [31]:
name='Driptanil'
print(f"He said his name was {name!r}")

He said his name was 'Driptanil'

In [35]:
num=123.123123123
print(f"{num:{10}.{6}}")
print(f"{num:10.3f}")

   123.123
   123.123

In [36]:
mylist=[1,2,3,4,5,6,7]
mylist.append(8)

In [37]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8]

In [38]:
mylist.pop(0)

1

In [39]:
mylist

[2, 3, 4, 5, 6, 7, 8]

In [40]:
mylist.reverse()

In [41]:
mylist

[8, 7, 6, 5, 4, 3, 2]

In [42]:
mylist.sort()

In [43]:
mylist

[2, 3, 4, 5, 6, 7, 8]

In [45]:
mydict={'key1':'first'}
mydict['key1']

'first'

In [46]:
t=(1,2,3,4)
t.index(1)

0

In [48]:
t.count(2)

1

In [49]:
t.append('not possible')

AttributeError: 'tuple' object has no attribute 'append'

In [55]:
x=[1,1,1,1,1,2,2,2,2,3,3,3,3,3]
x=set(x)

In [56]:
x

{1, 2, 3}

In [57]:
type(x)

set

In [58]:
a=True

In [59]:
type(a)

bool

In [60]:
1<2 and 2<3

True

In [62]:
1==2 or 3>2

True

In [63]:
not 1==1

False

In [64]:
hungry=False
if hungry:
    print('FEED ME')
else:
    print("I am not hungry")

I am not hungry

In [66]:
name='Sammy'
if name=="Frankie":
    print('Hello Frankie!')
elif name=='Sammy':
    print('Hello Sammy!')
else:
    printf("What is you name?")

Hello Sammy!

In [67]:
list1=[1,2,3,4,5,6,7,8,9,10]
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [69]:
for num in list1:
    if num%2==0:
        print(num)

2
4
6
8
10

In [70]:
list2=[(1,3),(2,4),(5,7),(6,8)]
for tup in list2:
    print(tup)

(1, 3)
(2, 4)
(5, 7)
(6, 8)

In [71]:
for a,b in list2:
    print(a)

1
2
5
6

In [72]:
d={'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [73]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [75]:
for a,b in d.items():
    print(a)
    print(b)

k1
1
k2
2
k3
3

In [77]:
sorted(d.keys())

['k1', 'k2', 'k3']

In [2]:
x=0
while x<10:
    print('x is current:%s'%x)
    x+=1
else:
    print('All Done!')

x is current:0
x is current:1
x is current:2
x is current:3
x is current:4
x is current:5
x is current:6
x is current:7
x is current:8
x is current:9
All Done!

In [3]:
#BREAK:breaks out of the current loop
x=0
while x<10:
    print(x)
    x+=1
    break

0

In [2]:
#CONTINUE:goes to the top of the closest loop
x=0
while x<10:
    print(x)
    x+=1
    continue

0
1
2
3
4
5
6
7
8
9

In [4]:
#PASS: do nothing
x=[1,2,3]
for item in x:
    pass

In [6]:
range(0,11,1)

range(0, 11)

In [8]:
list(range(0,11,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
index_count=0
for letter in 'abcde':
    print("At index {} the letter is {}".format(index_count,letter))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [10]:
word='abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [11]:
mylist1=[1,2,3,4,5,6,7]
mylist2=['a','b','c']
zip(mylist1,mylist2)

In [12]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [13]:
'x' in ['x','y','z']

True

In [14]:
'x' not in [1,2,3]

True

In [7]:
mylist=[1,23,4,4,65,7,9679]
max(mylist)

9679

In [16]:
min(mylist)

1

In [1]:
from random import randint

In [3]:
randint(1,100)

15

In [4]:
from random import shuffle

In [8]:
shuffle(mylist)

In [9]:
mylist

[4, 4, 65, 7, 23, 9679, 1]

In [11]:
input("Enter your name:")

'JOse'

In [12]:
list1=[x for x in 'word']

In [13]:
list1

['w', 'o', 'r', 'd']

In [15]:
list2=[x**2 for x in range(0,11)]
list2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
results=[x if x%2==0 else 'ODD' for x in range(0,11)]

In [17]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [18]:
mylist=[]
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [19]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [20]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [2]:
mylist

NameError: name 'mylist' is not defined