In [1]:
print("Hello World")

Hello World

In [1]:
2==2

True

In [2]:
2==1

False

In [3]:
'hello'=='bye'

False

In [5]:
'bye'=='Bye'

False

In [6]:
'2'==2

False

In [7]:
2.0==2

True

In [8]:
3 !=3

False

In [9]:
4!=5

True

In [10]:
2>1

True

In [11]:
1<2

True

In [12]:
2>=2

True

In [13]:
4<=1

False

In [1]:
1<2<3

True

In [15]:
1<2>3

False

In [16]:
1<2 and 2<3

True

In [17]:
('h'== 'h') and (2==2)

True

In [18]:
1==1 or 2==2

True

In [19]:
100==1 or 2==2

True

In [20]:
100==1 or 2==200

False

In [21]:
1==1

True

In [22]:
not(1==1)

False

In [23]:
not 1==1

False

In [24]:
400>500

False

In [25]:
not 400>500

True

In [2]:
if True:
    print('ITS TRUE!')

ITS TRUE!

In [1]:
if 3>2:
    print('ITS TRUE!')

ITS TRUE!

In [6]:
hungry=True
if hungry:
    print('FEED ME')

FEED ME

In [7]:
hungry=False
if hungry:
    print('FEED ME')
else:
    print("I am not hungry")

I am not hungry

In [8]:
loc='Bank'
if loc=='Auto Shop':
    print("Cars are cool!")
else:
    print("I dont know much")

I dont know much

In [9]:
loc='Bank'
if loc=='Auto Shop':
    print("Cars are cool!")
elif loc=='Bank':
    print('Money is COOL')
else:
    print("I dont know much")

Money is COOL

In [11]:
name='Sammy'
if name=="Frankie":
    print('Hello Frankie!')
elif name=='Sammy':
    print('Hello Sammy!')
else:
    printf("What is you name?")

Hello Sammy!

In [12]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [14]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [15]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [17]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [20]:
for num in mylist:
    #Check for Even
    if num % 2 ==0:
        print(num)
    else:
        print(f'Odd Number:{num}')

Odd Number:1
2
Odd Number:3
4
Odd Number:5
6
Odd Number:7
8
Odd Number:9
10

In [22]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [23]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [24]:
mystring='Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [26]:
for mystring in 'Hello World':
    print(mystring)

H
e
l
l
o

W
o
r
l
d

In [27]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [28]:
tup=(1,2,3)

for item in tup :
    print(item)

1
2
3

In [29]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [30]:
len(mylist)

4

In [31]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [32]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [34]:
for a,b in mylist:
    print(b)

2
4
6
8

In [35]:
mylist=[(1,2,3),(5,6,7),(8,9,10)]

In [36]:
for a,b,c in mylist:
    print(b)

2
6
9

In [37]:
d={'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [38]:
d={'k1':1,'k2':2,'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [40]:
d={'k1':1,'k2':2,'k3':3}

for item,value in d.items():
    print(value)

1
2
3

In [41]:
d={'k1':1,'k2':2,'k3':3}

for item in d.values():
    print(item)

1
2
3

In [2]:
 x=0
 while x<5:
     print(f'The current value of x is {x}') 
     x=x+1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [14]:
x=0
while x<5:
    print(f'The current value of x is {x}') 
    x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [15]:
x=0
while x<5:
     print(f'The current value of x is {x}') 
     x += 1
else :
    print("X is not less than five")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than five

In [17]:
x=[1,2,3]
for item in x:
    #comment

SyntaxError: unexpected EOF while parsing (<ipython-input-17-c13bab816552>, line 3)

In [18]:
x=[1,2,3]
for item in x:
    pass

In [19]:
mystring = 'Sammy'
for letter in mystring:
    print(letter)

S
a
m
m
y

In [2]:
mystring = 'Sammy'
for letter in mystring:
    continue
    print(letter)

In [3]:
mystring = 'Sammy'
for letter in mystring:
    break
    print(letter)

In [4]:
x=0
while x<5:
    print(x)
    x+=1

0
1
2
3
4

In [5]:
x=0
while x<5:
    if x==2:
        break
    print(x)
    x+=1

0
1

In [28]:
mylist=[1,2,3]
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [29]:
mylist=[1,2,3]
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [31]:
mylist=[1,2,3]
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [32]:
range(0,11,2)

range(0, 11, 2)

In [33]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [35]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format (index_count,letter))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [36]:
index_count = 0
word='abcde'
for letter in word:
    print(word[index_count])
    index_count+=1

a
b
c
d
e

In [37]:
word='abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [38]:
word='abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [6]:
mylist1=[1,2,3]
mylist2=['a','b','c']

In [7]:
zip(mylist1,mylist2)

In [8]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [10]:
mylist1=[1,2,3,4,5,6]
mylist2=['a','b','c']
mylist3=[100,200,300]

In [11]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [12]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [13]:
'x' in [1,2,3]

False

In [14]:
'x' in ['x','y','z']

True

In [15]:
'a' in 'a world'

True

In [17]:
'mykey' in {'mykey':345}

True

In [19]:
d={'mykey':345}
345 in d.values()

True

In [20]:
mylist=[10,20,30,40,100]

In [21]:
min(mylist)

10

In [22]:
max(mylist)

100

In [23]:
from random import shuffle

In [24]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [26]:
shuffle(mylist)
mylist

[6, 4, 1, 3, 9, 8, 7, 10, 2, 5]

In [27]:
random_list=shuffle(mylist)

In [28]:
type(random_list)

NoneType

In [29]:
mylist

[5, 4, 8, 1, 3, 10, 9, 6, 7, 2]

In [30]:
mylist

[5, 4, 8, 1, 3, 10, 9, 6, 7, 2]

In [31]:
from random import randint

In [32]:
randint(0,100)

74

In [34]:
mynum=randint(0,100)
mynum

3

In [35]:
result= input('What is you name?')

In [36]:
result

'Driptanil'

In [37]:
result=input('favourite number:')

In [38]:
result

'7'

In [39]:
type(result)

str

In [40]:
float(result)

7.0

In [41]:
int(result)

7

In [42]:
mystring='hello'

In [45]:
mylist=[]

for letter in mystring:
    mylist.append(letter)

In [46]:
mylist

['h', 'e', 'l', 'l', 'o']

In [47]:
mylist=[letter for letter in mystring]

In [48]:
mylist

['h', 'e', 'l', 'l', 'o']

In [50]:
mylist=[x for x in 'word']

In [51]:
mylist

['w', 'o', 'r', 'd']

In [52]:
mylist=[num for num in range(0,11)]

In [53]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
mylist=[num**2 for num in range(0,11)]

In [56]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [59]:
mylist=[x**2 for x in range(0,11) if x%2==0]

In [60]:
mylist

[0, 4, 16, 36, 64, 100]

In [61]:
celcius=[0,10,20,34.5]
fahrenheit = [((9/5)*temp+32) for temp in celcius]

In [62]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [63]:
fahrenheit=[]
for temp in celcius:
    fahrenheit.append((9/5)*temp+32)

In [64]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [65]:
results=[x if x%2==0 else 'ODD' for x in range(0,11)]

In [67]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [68]:
mylist=[]
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [69]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [2]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [3]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [1]:
mylist.insert()

NameError: name 'mylist' is not defined

In [3]:
def myfunc(a,b):
    return sum((a,b))*0.05

In [4]:
myfunc(40,60)

5.0

In [2]:
 def myfunc(a,b,c=0,d=0,e=0):
    return sum((a,b,c,d,e))*0.05

In [4]:
myfunc(30,70,100,200)

20.0

In [5]:
myfunc(30,70,100,200,30,70)

TypeError: myfunc() takes from 2 to 5 positional arguments but 6 were given

In [10]:
def myfunc(*args):
    return sum(args)*0.05

In [8]:
myfunc(30,70,100,200,30,70)

25.0

In [12]:
def myfunc(*spam):
    return sum(spam)*0.05

In [13]:
myfunc(30,70,100,200,30,70)

25.0

In [15]:
def myfunc(*args):
    print(args)

In [17]:
myfunc(30,70,100,200,30,70)

(30, 70, 100, 200, 30, 70)

In [19]:
def myfunc(*args):
    for item in args:
        print(item)

In [21]:
myfunc(30,70,100,200,30,70)

30
70
100
200
30
70

In [25]:
def myfunc(**kwargs):
    if "fruit" in kwargs:
        print("my fruit of choice is {}".format(kwargs['fruit']))
    else:
        print("i did not find any fruit here")

In [27]:
myfunc(fruit='apple',veggie='lettuce')

my fruit of choice is apple

In [29]:
def myfunc(**kwargs):
    print(kwargs)
    if "fruit" in kwargs:
        print("my fruit of choice is {}".format(kwargs['fruit']))
    else:
        print("i did not find any fruit here")

In [30]:
myfunc(fruit='apple',veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
my fruit of choice is apple

In [34]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [36]:
myfunc(1,2,3,fruit='orange',food='eggs')

(1, 2, 3)
{'fruit': 'orange', 'food': 'eggs'}
I would like 1 eggs

In [42]:
def square(num):
    return num**2

In [43]:
my_nums=[1,2,3,4,5]

In [44]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [45]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [46]:
def splicer(mystring):
    if len(mystring)%2==0:
        return "EVEN"
    else:
        return mystring[0]

In [47]:
names=['Andy','Eve','Sally']

In [48]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [49]:
def check_even(num):
    return num%2==0

In [50]:
mynums=[1,2,3,4,5,6]

In [51]:
filter(check_even,mynums)

In [52]:
list(filter(check_even,mynums))

[2, 4, 6]

In [53]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [54]:
def square(num):
    result = num**2
    return result

In [55]:
square(3)

9

In [1]:
square=lambda num:num**2

In [4]:
square(5)

25

In [5]:
mynums=[1,2,3,4,5]

In [1]:
list(map(lambda num:num**2,mynums))

NameError: name 'mynums' is not defined

In [2]:
print([1,2,3])

[1, 2, 3]

In [3]:
print([1,2,3])
print([4,5,6])
print([7,8,9])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [4]:
def display(row1,row2,row3):
    print(row1)
    print(row2)
    print(row3)

In [5]:
mylist=[1,2,3]
display(mylist,mylist,mylist)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [7]:
row1=[' ',' ',' ']
row2=[' ',' ',' ']
row3=[' ',' ',' ']

In [8]:
display(row1,row2,row3)

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

In [9]:
row2[1]='X'

In [10]:
display(row1,row2,row3)

[' ', ' ', ' ']
[' ', 'X', ' ']
[' ', ' ', ' ']

In [11]:
input("please enter a value:")

'2'

In [12]:
result = input ("Please enter a value:")

In [13]:
type(result)

str

In [1]:
print("  1  |  2  |  3  ")
print("-----+-----+-----")
print("  4  |  5  |  6  ")
print("-----+-----+-----")
print("  7  |  8  |  9  ")

  1  |  2  |  3
-----+-----+-----
  4  |  5  |  6
-----+-----+-----
  7  |  8  |  9

In [3]:
print(f"-----|-----|-----  ")
print(f"-----+-----+-----")
print(f"  {pos[4]}  |  {pos[5]}  |  {pos[6]}  ")
print(f"-----+-----+-----")
print(f"  {pos[7]}  |  {pos[8]}  |  {pos[9]}  ")

-----|-----|-----
-----+-----+-----

NameError: name 'pos' is not defined

In [1]:
lst = [1,2,3]

In [2]:
lst.count(2)

1

In [5]:
print(type(1))
print(type([]))
print(type(()))
print(type({}))
print(type(set([])))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [6]:
class Sample:
    pass

x=Sample()

print(type(x))

<class '__main__.Sample'>

In [1]:
class Dog:
    def __init__(self,breed):
        self.breed=breed
sam=Dog(breed="Lab")
frank=Dog(breed="Huskie")

In [1]:
class Dog:
    species="mammal"

    def __init__(self,breed,name):
        self.breed=breed 
        self.name=name

In [2]:
sam=Dog('Lab','Sam')

In [3]:
sam.name

'Sam'

In [4]:
sam.species

'mammal'

In [10]:
class Circle:
    pi=3.14

    def __init__(self,radius=1):
        self.radius=radius
        self.area=radius*radius*Circle.pi

    def setRadius(self,new_radius):
        self.radius=new_radius
        self.area=new_radius**2*self.pi

    def getCircumference(self):
        return self.radius*self.pi*2

In [12]:
c=Circle()

print("Radius =",c.radius)
print("Area =",c.area)
print("Circumference =",c.getCircumference())

Radius = 1
Area = 3.14
Circumference = 6.28

In [14]:
c.setRadius(2)

print("Radius =",c.radius)
print("Area =",c.area)
print("Circumference =",c.getCircumference())

Radius = 2
Area = 12.56
Circumference = 12.56

In [16]:
class Animal:

    def __init__(self):
        print("Animal Created")

    def whoAmI(self):
        print('Animal')

    def eat(self):
        print("Eating")


class Dog(Animal):
    
    def __init__(self):
        Animal.__init__(self)
        print("Dog Created")

    def whoAmI(self):
        print("Dog")

    def bark(self):
        print("Woof!")

In [17]:
d=Dog()

Animal Created
Dog Created

In [18]:
d.whoAmI()

Dog

In [19]:
d.eat()

Eating

In [20]:
d.bark()

Woof!

In [21]:
class Dog:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return self.name+' says Woof!'
    
class Cat:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return self.name+' says Meow!' 
    
niko = Dog('Niko')
felix = Cat('Felix')

print(niko.speak())
print(felix.speak())

Niko says Woof!
Felix says Meow!

In [22]:
for pet in [niko,felix]:
    print(pet.speak())

Niko says Woof!
Felix says Meow!

In [23]:
def pet_speak(pet):
    print(pet.speak())

pet_speak(niko)
pet_speak(felix)

Niko says Woof!
Felix says Meow!

In [27]:
class Animal:

    def __init__(self,name):
        self.name=name
    
    def speak(self):
        raise NotImplementedError("Subclass must implement abstract method")


class Dog(Animal):

    def speak(self):
        return self.name +' says Woof!'

class Cat(Animal):  

    def speak(self):
        return self.name +' says Meow!'

fido =Dog('Fido')
isis = Cat('Isis')

print(fido.speak())
print(isis.speak())

Fido says Woof!
Isis says Meow!

In [28]:
class Book:
    def __init__(self,title,author,pages):
        print("A book is created")
        self.title=title
        self.author=author
        self.pages=pages

    def __str__(self):
        return "Title: %s, author:%s, pages: %s" %(self.title,self.author,self.pages)

    def __len__(self):
        return self.pages
    
    def __del__(self):
        print("A book is destroyed")

In [29]:
book =Book("Python Rocks!","Jose Portilla",159)

print(book)
print(len(book))
del book

A book is created
Title: Python Rocks!, author:Jose Portilla, pages: 159
159
A book is destroyed