In [1]:
print("Hello World")

Hello World

In [1]:
2==2

True

In [2]:
2==1

False

In [3]:
'hello'=='bye'

False

In [5]:
'bye'=='Bye'

False

In [6]:
'2'==2

False

In [7]:
2.0==2

True

In [8]:
3 !=3

False

In [9]:
4!=5

True

In [10]:
2>1

True

In [11]:
1<2

True

In [12]:
2>=2

True

In [13]:
4<=1

False

In [1]:
1<2<3

True

In [15]:
1<2>3

False

In [16]:
1<2 and 2<3

True

In [17]:
('h'== 'h') and (2==2)

True

In [18]:
1==1 or 2==2

True

In [19]:
100==1 or 2==2

True

In [20]:
100==1 or 2==200

False

In [21]:
1==1

True

In [22]:
not(1==1)

False

In [23]:
not 1==1

False

In [24]:
400>500

False

In [25]:
not 400>500

True

In [2]:
if True:
    print('ITS TRUE!')

ITS TRUE!

In [1]:
if 3>2:
    print('ITS TRUE!')

ITS TRUE!

In [6]:
hungry=True
if hungry:
    print('FEED ME')

FEED ME

In [7]:
hungry=False
if hungry:
    print('FEED ME')
else:
    print("I am not hungry")

I am not hungry

In [8]:
loc='Bank'
if loc=='Auto Shop':
    print("Cars are cool!")
else:
    print("I dont know much")

I dont know much

In [9]:
loc='Bank'
if loc=='Auto Shop':
    print("Cars are cool!")
elif loc=='Bank':
    print('Money is COOL')
else:
    print("I dont know much")

Money is COOL

In [11]:
name='Sammy'
if name=="Frankie":
    print('Hello Frankie!')
elif name=='Sammy':
    print('Hello Sammy!')
else:
    printf("What is you name?")

Hello Sammy!

In [12]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [14]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [15]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [17]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [20]:
for num in mylist:
    #Check for Even
    if num % 2 ==0:
        print(num)
    else:
        print(f'Odd Number:{num}')

Odd Number:1
2
Odd Number:3
4
Odd Number:5
6
Odd Number:7
8
Odd Number:9
10

In [22]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [23]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [24]:
mystring='Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [26]:
for mystring in 'Hello World':
    print(mystring)

H
e
l
l
o

W
o
r
l
d

In [27]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [28]:
tup=(1,2,3)

for item in tup :
    print(item)

1
2
3

In [29]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [30]:
len(mylist)

4

In [31]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [32]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [34]:
for a,b in mylist:
    print(b)

2
4
6
8

In [35]:
mylist=[(1,2,3),(5,6,7),(8,9,10)]

In [36]:
for a,b,c in mylist:
    print(b)

2
6
9

In [37]:
d={'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [38]:
d={'k1':1,'k2':2,'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [40]:
d={'k1':1,'k2':2,'k3':3}

for item,value in d.items():
    print(value)

1
2
3

In [41]:
d={'k1':1,'k2':2,'k3':3}

for item in d.values():
    print(item)

1
2
3

In [2]:
 x=0
 while x<5:
     print(f'The current value of x is {x}') 
     x=x+1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [14]:
x=0
while x<5:
    print(f'The current value of x is {x}') 
    x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [15]:
x=0
while x<5:
     print(f'The current value of x is {x}') 
     x += 1
else :
    print("X is not less than five")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than five

In [17]:
x=[1,2,3]
for item in x:
    #comment

SyntaxError: unexpected EOF while parsing (<ipython-input-17-c13bab816552>, line 3)

In [18]:
x=[1,2,3]
for item in x:
    pass

In [19]:
mystring = 'Sammy'
for letter in mystring:
    print(letter)

S
a
m
m
y

In [2]:
mystring = 'Sammy'
for letter in mystring:
    continue
    print(letter)

In [3]:
mystring = 'Sammy'
for letter in mystring:
    break
    print(letter)

In [4]:
x=0
while x<5:
    print(x)
    x+=1

0
1
2
3
4

In [5]:
x=0
while x<5:
    if x==2:
        break
    print(x)
    x+=1

0
1

In [28]:
mylist=[1,2,3]
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [29]:
mylist=[1,2,3]
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [31]:
mylist=[1,2,3]
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [32]:
range(0,11,2)

range(0, 11, 2)

In [33]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [35]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format (index_count,letter))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [36]:
index_count = 0
word='abcde'
for letter in word:
    print(word[index_count])
    index_count+=1

a
b
c
d
e

In [37]:
word='abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [38]:
word='abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [6]:
mylist1=[1,2,3]
mylist2=['a','b','c']

In [7]:
zip(mylist1,mylist2)

In [8]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [10]:
mylist1=[1,2,3,4,5,6]
mylist2=['a','b','c']
mylist3=[100,200,300]

In [11]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [12]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [13]:
'x' in [1,2,3]

False

In [14]:
'x' in ['x','y','z']

True

In [15]:
'a' in 'a world'

True

In [17]:
'mykey' in {'mykey':345}

True

In [19]:
d={'mykey':345}
345 in d.values()

True

In [20]:
mylist=[10,20,30,40,100]

In [21]:
min(mylist)

10

In [22]:
max(mylist)

100

In [23]:
from random import shuffle

In [24]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [26]:
shuffle(mylist)
mylist

[6, 4, 1, 3, 9, 8, 7, 10, 2, 5]

In [27]:
random_list=shuffle(mylist)

In [28]:
type(random_list)

NoneType

In [29]:
mylist

[5, 4, 8, 1, 3, 10, 9, 6, 7, 2]

In [30]:
mylist

[5, 4, 8, 1, 3, 10, 9, 6, 7, 2]

In [31]:
from random import randint

In [32]:
randint(0,100)

74

In [34]:
mynum=randint(0,100)
mynum

3

In [35]:
result= input('What is you name?')

In [36]:
result

'Driptanil'

In [37]:
result=input('favourite number:')

In [38]:
result

'7'

In [39]:
type(result)

str

In [40]:
float(result)

7.0

In [41]:
int(result)

7

In [42]:
mystring='hello'

In [45]:
mylist=[]

for letter in mystring:
    mylist.append(letter)

In [46]:
mylist

['h', 'e', 'l', 'l', 'o']

In [47]:
mylist=[letter for letter in mystring]

In [48]:
mylist

['h', 'e', 'l', 'l', 'o']

In [50]:
mylist=[x for x in 'word']

In [51]:
mylist

['w', 'o', 'r', 'd']

In [52]:
mylist=[num for num in range(0,11)]

In [53]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
mylist=[num**2 for num in range(0,11)]

In [56]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [59]:
mylist=[x**2 for x in range(0,11) if x%2==0]

In [60]:
mylist

[0, 4, 16, 36, 64, 100]

In [61]:
celcius=[0,10,20,34.5]
fahrenheit = [((9/5)*temp+32) for temp in celcius]

In [62]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [63]:
fahrenheit=[]
for temp in celcius:
    fahrenheit.append((9/5)*temp+32)

In [64]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [65]:
results=[x if x%2==0 else 'ODD' for x in range(0,11)]

In [67]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [68]:
mylist=[]
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [69]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [2]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [3]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [ ]:
mylist.insert()