In [1]:
7//4

1

In [2]:
7%4

3

In [3]:
2**3

8

In [9]:
a=10
a+=10
a

20

In [12]:
a*=2
a

80

In [13]:
type(a)

int

In [14]:
len("Hello World")

11

In [2]:
s="Hello World"
s[0]

'H'

In [16]:
s[-1]

'd'

In [17]:
s[1:]

'ello World'

In [18]:
s[:3]

'Hel'

In [19]:
s[:-1]

'Hello Worl'

In [3]:
s[::1]

'Hello World'

In [4]:
s[::-1]

'dlroW olleH'

In [5]:
s[0]="h"

TypeError: 'str' object does not support item assignment

In [7]:
s+="!!!"
s

'Hello World!!!!!!'

In [8]:
s*2

'Hello World!!!!!!Hello World!!!!!!'

In [9]:
s.upper()

'HELLO WORLD!!!!!!'

In [10]:
s.lower()

'hello world!!!!!!'

In [11]:
s.split()

['Hello', 'World!!!!!!']

In [12]:
list1=[1,2,3]
list1.append(4)

In [13]:
list1

[1, 2, 3, 4]

In [14]:
list1.pop()

4

In [15]:
list1.reverse()

In [16]:
list1

[3, 2, 1]

In [17]:
list1.sort()

In [18]:
list1

[1, 2, 3]

In [19]:
list1=[1,2,3]
list2=[4,5,6]
list3=[7,8,9]
matrix=[list1,list2,list3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [20]:
matrix[0][0]

1

In [24]:
first_col=[row[0] for row in matrix]

In [25]:
first_col

[1, 4, 7]

In [27]:
my_dict = {'key1':'value1','key2':'value2'}

In [29]:
my_dict["key2"]

'value2'

In [30]:
d={}

In [31]:
d['animal']='Dog'

In [32]:
d

{'animal': 'Dog'}

In [36]:
d={'key1':{'nestkey':{'subnestkey':'value'}}}

In [37]:
d['key1']['nestkey']['subnestkey']

'value'

In [38]:
my_dict = {'key1':'value1','key2':'value2'}

In [39]:
my_dict.keys()

dict_keys(['key1', 'key2'])

In [40]:
my_dict.values()

dict_values(['value1', 'value2'])

In [41]:
t=(1,2,3)

In [43]:
t.count(1)

1

In [44]:
t[0]="no change"

TypeError: 'tuple' object does not support item assignment

In [45]:
x=set()

In [46]:
x.add(1)

In [47]:
x

{1}

In [48]:
x.add(1)

In [49]:
x

{1}

In [51]:
list1=[1,2,3,4,5,4,3,2,1]
set(list1)

{1, 2, 3, 4, 5}

In [52]:
a=True

In [53]:
a

True

In [54]:
type(a)

bool

In [55]:
1>2

False

In [56]:
b=None

In [57]:
b

In [58]:
type(b)

NoneType

In [60]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [62]:
for i,letter in enumerate('abcde'):
    print(f"{i}:{letter}")

0:a
1:b
2:c
3:d
4:e

In [63]:
mylist1=[1,2,3,4,5]
mylist2=['a','b','c','d','e']
zip(mylist1,mylist2)

In [64]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [65]:
mylist1=[1,2,3,4,5]

In [66]:
min(mylist1)

1

In [67]:
max(mylist1)

5

In [68]:
from random import shuffle

In [69]:
shuffle(mylist1)

In [70]:
mylist1

[5, 2, 3, 1, 4]

In [71]:
from random import randint

In [72]:
randint(0,100)

84

In [74]:
input("Enter a Number:")

'1'

In [75]:
lst=[x for x in "word"]

In [76]:
lst

['w', 'o', 'r', 'd']

In [77]:
lst=[x for x in range(0,11) if x%2==0]

In [78]:
lst

[0, 2, 4, 6, 8, 10]

In [79]:
lst=[1,2,3,4,5]

In [80]:
lst.append(6)

In [81]:
lst

[1, 2, 3, 4, 5, 6]

In [82]:
lst.count(2)

1

In [85]:
list1=[1,2,3,4]
list2=[6,7,8,9]
list1.extend(list2)

In [86]:
list1

[1, 2, 3, 4, 6, 7, 8, 9]

In [87]:
list1.insert(4,5)

In [88]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
list1.pop()

9

In [90]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [91]:
list1.remove(1)

In [92]:
list1

[2, 3, 4, 5, 6, 7, 8]

In [93]:
list1.reverse()

In [94]:
list1

[8, 7, 6, 5, 4, 3, 2]

In [95]:
list1.sort()

In [96]:
list1

[2, 3, 4, 5, 6, 7, 8]

In [98]:
help(list1.count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.