In [2]:
7//4

1

In [3]:
7%4

3

In [4]:
2**3

8

In [5]:
a=10
a+=10
a

20

In [6]:
a*=2
a

40

In [7]:
type(a)

int

In [8]:
len("Hello World")

11

In [9]:
s="Hello World"
s[0]

'H'

In [10]:
s[-1]

'd'

In [11]:
s[1:]

'ello World'

In [12]:
s[:3]

'Hel'

In [13]:
s[:-1]

'Hello Worl'

In [14]:
s[::1]

'Hello World'

In [15]:
s[::-1]

'dlroW olleH'

In [16]:
s[0]="h"

TypeError: 'str' object does not support item assignment

In [ ]:
s+="!!!"
s

'Hello World!!!!!!'

In [ ]:
s*2

'Hello World!!!!!!Hello World!!!!!!'

In [ ]:
s.upper()

'HELLO WORLD!!!!!!'

In [ ]:
s.lower()

'hello world!!!!!!'

In [ ]:
s.split()

['Hello', 'World!!!!!!']

In [ ]:
list1=[1,2,3]
list1.append(4)

In [ ]:
list1

[1, 2, 3, 4]

In [ ]:
list1.pop()

4

In [ ]:
list1.reverse()

In [ ]:
list1

[3, 2, 1]

In [ ]:
list1.sort()

In [ ]:
list1

[1, 2, 3]

In [ ]:
list1=[1,2,3]
list2=[4,5,6]
list3=[7,8,9]
matrix=[list1,list2,list3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
matrix[0][0]

1

In [ ]:
first_col=[row[0] for row in matrix]

In [ ]:
first_col

[1, 4, 7]

In [ ]:
my_dict = {'key1':'value1','key2':'value2'}

In [ ]:
my_dict["key2"]

'value2'

In [ ]:
d={}

In [ ]:
d['animal']='Dog'

In [ ]:
d

{'animal': 'Dog'}

In [ ]:
d={'key1':{'nestkey':{'subnestkey':'value'}}}

In [ ]:
d['key1']['nestkey']['subnestkey']

'value'

In [ ]:
my_dict = {'key1':'value1','key2':'value2'}

In [ ]:
my_dict.keys()

dict_keys(['key1', 'key2'])

In [ ]:
my_dict.values()

dict_values(['value1', 'value2'])

In [ ]:
t=(1,2,3)

In [ ]:
t.count(1)

1

In [ ]:
t[0]="no change"

TypeError: 'tuple' object does not support item assignment

In [ ]:
x=set()

In [ ]:
x.add(1)

In [ ]:
x

{1}

In [ ]:
x.add(1)

In [ ]:
x

{1}

In [ ]:
list1=[1,2,3,4,5,4,3,2,1]
set(list1)

{1, 2, 3, 4, 5}

In [ ]:
a=True

In [ ]:
a

True

In [ ]:
type(a)

bool

In [ ]:
1>2

False

In [ ]:
b=None

In [ ]:
b

In [ ]:
type(b)

NoneType

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i,letter in enumerate('abcde'):
    print(f"{i}:{letter}")

0:a
1:b
2:c
3:d
4:e

In [ ]:
mylist1=[1,2,3,4,5]
mylist2=['a','b','c','d','e']
zip(mylist1,mylist2)

In [ ]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [ ]:
mylist1=[1,2,3,4,5]

In [ ]:
min(mylist1)

1

In [ ]:
max(mylist1)

5

In [ ]:
from random import shuffle

In [ ]:
shuffle(mylist1)

In [ ]:
mylist1

[5, 2, 3, 1, 4]

In [ ]:
from random import randint

In [ ]:
randint(0,100)

84

In [ ]:
input("Enter a Number:")

'1'

In [ ]:
lst=[x for x in "word"]

In [ ]:
lst

['w', 'o', 'r', 'd']

In [ ]:
lst=[x for x in range(0,11) if x%2==0]

In [ ]:
lst

[0, 2, 4, 6, 8, 10]

In [ ]:
lst=[1,2,3,4,5]

In [ ]:
lst.append(6)

In [ ]:
lst

[1, 2, 3, 4, 5, 6]

In [ ]:
lst.count(2)

1

In [ ]:
list1=[1,2,3,4]
list2=[6,7,8,9]
list1.extend(list2)

In [ ]:
list1

[1, 2, 3, 4, 6, 7, 8, 9]

In [ ]:
list1.insert(4,5)

In [ ]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1.pop()

9

In [ ]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list1.remove(1)

In [ ]:
list1

[2, 3, 4, 5, 6, 7, 8]

In [ ]:
list1.reverse()

In [ ]:
list1

[8, 7, 6, 5, 4, 3, 2]

In [ ]:
list1.sort()

In [ ]:
list1

[2, 3, 4, 5, 6, 7, 8]

In [ ]:
help(list1.count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

In [ ]:
def say_hello():
    print("Hello")

In [ ]:
say_hello()

Hello

In [ ]:
say_hello

In [ ]:
def greeting(name):
    print(f"Hello {name}")

In [ ]:
greeting('Jose')

Hello Jose

In [ ]:
my_nums=[1,2,3,4,5]
def square(num):
    return num**2

In [ ]:
map(square,my_nums)

In [ ]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [ ]:
def check_even(num):
    return num%2==0

In [ ]:
nums=[1,2,3,4,5,6,7,8,9,10]

In [ ]:
list(filter(check_even,nums))

[2, 4, 6, 8, 10]

In [ ]:
def square(num): return num**2

In [ ]:
square=lambda num: num**2

In [ ]:
square(8)

64

In [ ]:
def myfunction(*args):
    return sum(args)*.05

myfunction(40,60,20)

6.0

In [ ]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print(f"My favorite fruit is {kwargs['fruit']}")  # review String Formatting and f-strings if this syntax is unfamiliar
    else:
        print("I don't like fruit")
        
myfunc(fruit='pineapple')

My favorite fruit is pineapple

In [ ]:
class Dog:
    def __init__(self,breed):
        self.breed=breed

In [ ]:
sam=Dog(breed='Lab')

In [ ]:
sam.breed

'Lab'

In [ ]:
class Circle:
    pi=3.14

    def __init__(self,radius):
        self.radius=radius
        self.area=radius**2*Circle.pi

    def setRadius(self,new_radius):
        self.radius=new.radius**2*self.pi

    def getCircuference(self):
        return self.radius*self.pi*2

In [ ]:
c=Circle(5)

In [ ]:
c.area

78.5

In [ ]:
c.getCircuference()

31.400000000000002

In [ ]:
class Animal:

    def __init__(self):
        print("Animal Created")

    def whoAmI(self):
        print("Animal")

    def eat(self):
        print("Eating")

class Dog(Animal):

    def __init__(self):
        Animal.__init__(self)
        print("Dog Created")

    def whoAmI(self):
        print("Dog")

    def bark(self):
        print("Woof!")

In [ ]:
d=Dog()

Animal Created
Dog Created

In [ ]:
d.whoAmI()

Dog

In [ ]:
d.eat()

Eating

In [ ]:
d.bark()

Woof!

In [ ]:
class Dog:

    def __init__(self,name):
        self.name=name

    def speak(self):
        return self.name+' says Woof!'

class Cat:

    def __init__(self,name):
        self.name=name

    def speak(self):
        return self.name+' says Meow!'

In [ ]:
niko = Dog('Niko')
felix = Cat('Felix')

print(niko.speak())
print(felix.speak())

Niko says Woof!
Felix says Meow!

In [ ]:
for pet in [niko,felix]:
    print(pet.speak())

Niko says Woof!
Felix says Meow!

In [ ]:
class Animal:
    
    def __init__(self,name):
        self.name=name

    def speak(self):
        raise NotImplementedError("Subclass must implement abstract method")

class Dog(Animal):

    def speak(self):
        return self.name+' says Woof!'

class Cat(Animal):

    def speak(self):
        return self.name+' says Meow!'

In [ ]:
fido=Dog('Fido')

In [ ]:
fido.speak()

'Fido says Woof!'

In [ ]:
isis=Cat('Isis')

In [ ]:
isis.speak()

'Isis says Meow!'

In [ ]:
class Book:
    def __init__(self,title,author,pages):
        print("A book is created")
        self.title = title
        self.author = author
        self.pages = pages
    def __str__(self):
        return f"Title: {self.title}, author: {self.author}, pages: {self.pages}"
    def __len__(self):
        return self.pages
    def __del__(self):
        print("A book is destroyed")

In [ ]:
book = Book("Python Rocks!", "Jose Portilla", 159)
print(book)

A book is created
Title: Python Rocks!, author: Jose Portilla, pages: 159

In [ ]:
print(len(book))

159

In [ ]:
del book

A book is destroyed

In [ ]:
mylist=[1,2,3,4,5,6,7,8,9,10]
list1=mylist[5:10]
mylist.append(11)
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
mylist2=mylist-list1

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [ ]:
mylist=[1,2,3,4,5,6,7,8,9,10]
for count,num in enumerate(mylist):
    print(f"{count}:{num}")

0:1
1:2
2:3
3:4
4:5
5:6
6:7
7:8
8:9
9:10

In [ ]:
for num in range(1,4):
    print(num)

1
2
3

In [ ]:
mylist=[1,2,3,4,5,6,7,8]
mylist1=[]
for num in range(0,4):
    mylist1.append(mylist1.pop(0))
mylist1

IndexError: pop from empty list

In [ ]:
try:
    while True:
        while True:
            mylist=[]
            mylist.pop(0)
            print("LOL")
except IndexError:
    print("!!!GAME OVER!!!")

!!!GAME OVER!!!

In [ ]:
ranks=['2','3','4','5','6','7','8','9','10','Jack','Queen','King','Ace']
player=['4','Jack','King']
values=[2,3,4,5,6,7,8,9,10,10,10,10]
sum=0
for count,rank in enumerate(ranks):
    for card in player:
        if rank in card:
            sum+=values[count]
            print(sum)
sum

4
14
24

24

In [ ]:
if 1 in range(0,2):
    print("True")

True

In [ ]:
import datetime

t=datetime.time(4,20,1)

print(t)
print('Hour : ',t.hour)
print('Minute : ',t.minute)
print('Second : ',t.second)
print('Microsecond : ',t.microsecond)
print('tzinfo : ',t.tzinfo)

04:20:01
Hour :  4
Minute :  20
Second :  1
Microsecond :  0
tzinfo :  None

In [ ]:
print("Earliest :",datetime.time.min)
print("Latest :",datetime.time.max)
print("Resolution :",datetime.time.resolution)

Earliest : 00:00:00
Latest : 23:59:59.999999
Resolution : 0:00:00.000001

In [ ]:
today=datetime.date.today()
print(today)
print('ctime:',today.ctime())
print("tuple:",today.timetuple())
print("ordinal:",today.toordinal())
print("year:",today.year)
print("month:",today.month)
print("day:",today.day)

2021-08-29
ctime: Sun Aug 29 00:00:00 2021
tuple: time.struct_time(tm_year=2021, tm_mon=8, tm_mday=29, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=241, tm_isdst=-1)
ordinal: 738031
year: 2021
month: 8
day: 29

In [ ]:
print('Earliest  :', datetime.date.min)
print('Latest    :', datetime.date.max)
print('Resolution:', datetime.date.resolution)

Earliest  : 0001-01-01
Latest    : 9999-12-31
Resolution: 1 day, 0:00:00

In [ ]:
d1=datetime.date(2015,3,11)
print('d1:',d1)

d2=d1.replace(year=1990)
print('d2:',d2)

d1: 2015-03-11
d2: 1990-03-11

In [ ]:
d1-d2

datetime.timedelta(days=9131)

In [ ]:
import math

In [ ]:
help (math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
value=4.35

In [ ]:
math.floor(value)

4

In [ ]:
math.ceil(value)

5

In [ ]:
round(value)

4

In [ ]:
math.pi

3.141592653589793

In [ ]:
from math import pi

In [ ]:
pi

3.141592653589793

In [ ]:
math.e

2.718281828459045

In [ ]:
math.tau

6.283185307179586

In [ ]:
math.log(math.e)

1.0

In [ ]:
math.log(0)

ValueError: math domain error

In [ ]:
math.log(10)

2.302585092994046

In [ ]:
math.log(100,10)

2.0

In [ ]:
math.sin(10)

-0.5440211108893698

In [ ]:
math.degrees(pi/2)

90.0

In [ ]:
math.radians(180)

3.141592653589793

In [ ]:
import random

In [ ]:
random.randint(0,100)

29

In [ ]:
random.seed(101)
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))

74
24
69
45
59

In [ ]:
mylist = list(range(0,20))

In [ ]:
random.choice(mylist)

17

In [ ]:
#sample without replacement
random.choices(population=mylist,k=10)

[10, 6, 0, 14, 0, 11, 3, 0, 3, 1]

In [ ]:
random.sample(population=mylist,k=10)

[4, 12, 11, 15, 5, 7, 13, 8, 19, 2]

In [ ]:
random.shuffle(mylist)

In [ ]:
mylist

[4, 12, 18, 3, 6, 14, 13, 19, 10, 15, 7, 11, 8, 5, 9, 1, 17, 2, 0, 16]

In [ ]:
random.uniform(a=0,b=100)

95.71234818546903

In [ ]:
random.gauss(mu=0,sigma=1)

0.6787770560220769

In [ ]:
x=[1,3,4]
y=2
z=3

result=y+z
print(result)
result2=y+x
print(result2)

5

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [ ]:
import pdb

x=[1,3,4]
y=2
z=3

result=y+z
print(result)

pdb.set_trace()

result2=y+x
print(result2)

5
--Return--
None
> <ipython-input-2-40505cfc0ad3>(10)<module>()
      8 print(result)
      9
---> 10 pdb.set_trace()
     11
     12 result2=y+x

3
*** NameError: name 'at' is not defined

BdbQuit:

In [ ]:
text = "The person's phone number is 408-555-1234. Call soon!"

'phone' in text

True

In [ ]:
import re

pattern ='phone'
re.search(pattern,text)

In [ ]:
pattern="NOT IN TEXT"
re.search(pattern,text)

In [18]:
import re
text = "The person's phone number is 408-555-1234. Call soon!"
pattern = 'phone'
re.search(pattern,text)

In [ ]:
import re
text = "The person's phone number is 408-555-1234. Call soon!"
pattern = 'phone'
match=re.search(pattern,text)
match.span()

(13, 18)

In [ ]:
match.start()

13

In [ ]:
match.end()

18

In [ ]:
text='my phone is a new phone'
match=re.search("phone",text)

In [ ]:
matches=re.findall("phone",text)

In [ ]:
matches

['phone', 'phone']

In [ ]:
len(matches)

2

In [ ]:
for match in re.finditer("phone",text):
    print(match.span())

(3, 8)
(18, 23)

In [ ]:
match.group()

'phone'

In [ ]:
# \d --> digit 
# \w --> alphanumeric
# \s --> whitespace
# \D --> non-digit
# \W --> non-alphanumeric
# \S --> non-whitespace

In [ ]:
text = "My telephone number is 408-555-1234"

In [ ]:
phone=re.search(r'\d\d\d-\d\d\d-\d\d\d\d',text)

In [ ]:
phone.group()

'408-555-1234'

In [ ]:
# + --> one or more times
# {3} --> 3 or more times
# {2,4} --> 2 to 4 times
# {3,} -->  3 or more times 
# \* --> 0 or more times
# ? --> once or none times

In [ ]:
re.search(r'\d{3}-\d{3}-\d{4}',text)

In [ ]:
phone_pattern=re.compile(r'(\d{3})-(\d{3})-(\d{4})')

In [ ]:
results=re.search(phone_pattern,text)

In [ ]:
results.group()

'408-555-1234'

In [ ]:
results.group(1)

'408'

In [ ]:
results.group(2)

'555'

In [ ]:
results.group(3)

'1234'

In [ ]:
re.search(r'man|women','this man was here.')

In [ ]:
re.search(r'man|women','this women was here.')

In [ ]:
re.findall(r'.at','The cat is the hat sat here.')

['cat', 'hat', 'sat']

In [ ]:
re.findall(r'.at','The bat went splat')

['bat', 'lat']

In [ ]:
re.findall(r'...at','The bat went splat')

['e bat', 'splat']

In [ ]:
re.findall(r'\S+at','The bat went splat')

['bat', 'splat']

In [ ]:
re.findall(r'\d$','this ends with a number 2')

['2']

In [ ]:
re.findall(r'^\d','1 is the loneliest number.')

['1']

In [ ]:
phrase='there are 3 numbers 34 inside 5 this sentence.'

In [ ]:
re.findall(r'[^\d]',phrase)

['t',
 'h',
 'e',
 'r',
 'e',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 ' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 's',
 ' ',
 ' ',
 'i',
 'n',
 's',
 'i',
 'd',
 'e',
 ' ',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 'e',
 'n',
 't',
 'e',
 'n',
 'c',
 'e',
 '.']

In [ ]:
re.findall(r'[^\d]+',phrase)

['there are ', ' numbers ', ' inside ', ' this sentence.']

In [ ]:
test_phrase="This is a string! But it has punctuation. How can we remove it?"

In [ ]:
re.findall('[^!.? ]+',test_phrase)

['This',
 'is',
 'a',
 'string',
 'But',
 'it',
 'has',
 'punctuation',
 'How',
 'can',
 'we',
 'remove',
 'it']

In [ ]:
clean=' '.join(re.findall('[^!.? ]+',test_phrase))

In [ ]:
clean

'This is a string But it has punctuation How can we remove it'

In [30]:
text='Only find the hypen-words in this sentence.But you do know how long-ish they are'

In [32]:
re.findall(r'\w+-\w+',text)

['hypen-words', 'long-ish']

In [34]:
text='Hello, would you like some catfish?'
texttwo="Hello, would you like to take a catnap?"
textthree='Hello, have you seen this catterpillar?'

In [35]:
re.search(r'cat(fish|nap|pillar)',text)

In [36]:
re.search(r'cat(fish|nap|pillar)',texttwo)

In [38]:
re.search(r'cat(fish|nap|terpillar)',textthree)