___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a>=b:
        if a%2==0 and b%2==0:
            return a
        else:
            return b
    else:
        if a%2==0 and b%2==0:
            return a
        else:
            return b

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [16]:
def animal_crackers(string1):
    list1=string1.split()
    for word1 in list1[0]:
        for word2 in list1[1]:
            if word1 == word2:
                return True
            return False

In [17]:
# Check
animal_crackers('Levelheaded Llama')

True

In [18]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [19]:
def makes_twenty(n1,n2):
    if n1+n2==20:
        return True
    elif n1==20 or n2==20:
        return True
    return False

In [20]:
# Check
makes_twenty(20,10)

True

In [22]:
# Check
makes_twenty(12,8)

True

In [21]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [71]:
def old_macdonald(name):
    return name[0:3].capitalize()+name[3:].capitalize()

In [75]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [90]:
def master_yoda(text):
    list1=text.split()
    list1.reverse()
    return " ".join(list1)

In [91]:
# Check
master_yoda('I am home')

'home am I'

In [92]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [96]:
def almost_there(n):
    if n in range(89,110) or n in range(189,210):
        return True
    return False

In [100]:
almost_there(90)

True

In [97]:
# Check
almost_there(104)

True

In [98]:
# Check
almost_there(150)

False

In [99]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [104]:
def has_33(nums):
    for no,num in enumerate(nums):
        if num==3:
            if nums[no+1]==3:
                return True
            return False

In [105]:
# Check
has_33([1, 3, 3])

True

In [106]:
# Check
has_33([1, 3, 1, 3])

False

In [107]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [119]:
def paper_doll(text):
    text3=''
    for letter in text:
        text3+=letter*3
    return text3

In [120]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [121]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [126]:
def blackjack(a,b,c):
    if a+b+c<=21:
        return a+b+c
    else:
        if 11 in [a,b,c]:
            return a+b+c-10
        else:
            return 'BUST'

In [127]:
# Check
blackjack(5,6,7)

18

In [128]:
# Check
blackjack(9,9,9)

'BUST'

In [129]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [137]:
def summer_69(arr):
    sum=0
    for number in arr:
        if number not in range(6,10):
            sum+=number
    return sum

In [138]:
# Check
summer_69([1, 3, 5])

9

In [139]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [140]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [146]:
def spy_game(nums):
    count=0
    for no,num in enumerate(nums):
        if num==0:
            count+=1
        if num==7 and count==2:
            return True
    return False

In [147]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [148]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [149]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [196]:
def count_primes(num):
    count=0
    prime=0
    for no1 in range(1,num):
        for no2 in range(2,no1):
            if no1%no2==0:
                count+=1
        if count==0:
            prime+=1
            print(no1)

In [195]:
# Check
count_primes(100)

2

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!